@*<h2>404</h2>*@

<h1 id="H1_1">
	404
</h1>

<p id="P_1">
	Something went wrong!
</p>


<div id="DIV_1">
	<span id="SPAN_2"><i id="I_3"></i><i id="I_4"></i><i id="I_5"></i><i id="I_6"></i></span>
</div>



@*<p>Something went wrong!</p>*@

@Html.ActionLink("Try Again", "GetRecipeFromURL",null, new { @class="btn btn-primary"})